body {
	text-align: center;
	font-family: sans-serif;
}
h1 {
	color: gray;
	font-size: 40px;
	font-weight: bold;
}
ul {
	margin-left: 37.5%;
	margin-right: 40%;
}

li {
	border-bottom: 1px solid white;
	border-radius: 2px;
	background-color: rgb(109, 170, 219);
	list-style: none;
	color: white;
	font-weight: bold;
}
li:hover {
	background-color: gray;
}
.contact {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto 15px;
}
.fa-window-close {
	flex-direction: row-reverse;
}
